<div>
   <app-app-first-section/>
   <app-services/>
   <app-screenshot/>
   <app-powers/>
   <app-features/>


</div>



<section class="work">
    <div class="features__contain">
        <div class="features__contain-first">
            <h2>Our social links</h2>
            <p>You can follow us on our social links</p>
        </div>
    </div>
    <div class="features__logos">
        <img src="/Aimgine/assets/images/facebook.png" alt="">
        <img src="/Aimgine/assets/images/instagram.png" alt="">
        <img src="/Aimgine/assets/images/twitter.png" alt="">
        <img src="/Aimgine/assets/images/linkedin.png" alt="">
        <img src="/Aimgine/assets/images/tiktok.png" alt="">

    </div>
</section>

<section class="blog">
    <div class="blog__content">
        <div class="blog__contain">
            <div class="blog__contain-first">
                <h2>Blog</h2>
            </div>
            <div class="blog__contain-second">
                <button>see all</button>
            </div>
        </div>

        <div class="blog__new no-border-top">
            <div class="blog__new-img">
            <img src="/Aimgine/assets/images/new.png" alt="new">
        </div>
            <div class="blog__new_content">
                <p>12.09.2023</p>
                <h2>Empowering Student Designers: A Platform for Showcasing UI Projects</h2>
                <button>Category</button>
                <div class="blog__p">
                    <p>Are you a budding UI designer looking for a platform to showcase your creativity? Or perhaps you're a developer in search of fresh design inspiration? Look no further! Our innovative platform bridges the gap between student designers and developers, offering a space where UI projects can shine.</p>
                </div>
            </div>
        </div>
        <div class="blog__new">
            <div class="blog__new-img">
                <img src="/Aimgine/assets/images/new.png" alt="new">
            </div>                <div class="blog__new_content">
                <p>12.09.2023</p>
                <h2>Join Our Community</h2>
                <button>Category</button>
                <div class="blog__p">
                    <p>Whether you're a student designer eager to share your creations or a developer seeking inspiration, our platform welcomes you with open arms. Join our vibrant community today and be a part of the dynamic exchange between designers and developers!</p>
                </div>
            </div>
        </div>
        <div class="blog__contain-second2">
            <button>see all</button>
        </div>
    </div>
</section>

<section class="ready">
    <div class="ready__image">
        <img src="/Aimgine/assets/images/ready.png" alt="ready">
    </div>
    <div class="ready__content">
        <div class="ready__text">
            <h2>READY TO SHARE  <br/>  YOUR PROJECT WITH US?</h2>
            <p>Ready to showcase your UI masterpiece? Share your project with us and let it shine on our platform! Our community of developers awaits to discover and be inspired by your creativity. Upload your project now and become a part of our vibrant design community.</p>
            <div class="ready__content-buttons">
                <button>Share your project with US</button> 
                <span>or</span>
                <button class="button" id="drop__btn">Drop us a line</button>
            </div>
        </div>
    </div>
</section>