<section class="web__design">
    <div class="right-side">
        <div class="web__design-content">
            <h4 data-content="Content for Web Design">Web Design</h4>
            <h4 data-content="Content for UX/UI Design">UX/UI Design</h4>
            <h4 data-content="Content for Website Development">Website Development</h4>
            <h4 data-content="Content for Website Maintenance">Website Maintenance</h4>
            <h4 data-content="Content for eCommerce Development">eCommerce Development</h4>
            <h4 data-content="Content for Technical Consultation">Technical Consultation</h4>
        </div>
</div>
<div class="left-side">
    <div class="web__design-ilu" id="webDesignContent">
        <img src="/assets/design.png" alt="">
        <h2>WEB DESIGN</h2>
        <p>Our platform empowers student designers to unleash their creativity and craft modern, high-quality UI projects. Whether you're looking for a responsive design, a powerful content management system, or an eCommerce solution that stands out, we've got everything you need. Say goodbye to cookie-cutter designs and hello to customized solutions tailored to your unique vision.</p>
        <button class="button">
            LEARN MORE
        </button>
    </div>

    <div class="web__design-ilu" id="uxUiDesignContent" style="display: none;">
        <h2>UI/UX Design</h2>
        <p>example</p>
        <button class="button">
            LEARN MORE
        </button>
    </div>

</div>
</section>