<section class="vision">
    <div class="vision-content">
        <h1>OUR VISION</h1>
        <p>We champion collaboration as the cornerstone of innovation. Our platform unites student designers and developers, fostering a vibrant community where diverse talents converge to create impactful solutions. With designers showcasing limited snapshots of their UI projects, developers can unlock full access for a nominal fee, exploring a multitude of designs. Whether your preference leans towards modern or traditional UI, our platform offers the expertise to bring your vision to life. Let's collaborate to craft the ideal UI solution for your project.</p>
    </div>
    <div class="vision-image">
        <img src="/assets/vision.png" alt="">
    </div>
</section>