<section class="features" >
    <div class="features__contain">
        <div class="features__contain-first">
            <h2>Best Projects for this month</h2>
            <p>Our elite team of design enthusiasts and coding aficionados are dedicated to showcasing exceptional UI projects on our platform. Whether you seek a responsive design, a seamless content management system, or an eCommerce platform that captivates, we're committed to surpassing your every expectation.</p>
        </div>
        <div class="features__contain-second">
            <button>see all projects</button>
        </div>
    </div>

    <div class="features__cards-container" #cardsContainer>

        <div class="features__cards" #cardsContainer>

            <div class="features__cards-card">
                <img src="/assets/laptop.jpeg" alt="">
                <div class="name">
                    <h2>PROJECT NAME</h2>
                    <div class="data">
                        <button>UI/UX</button>
                        <button>eCommerce</button>

                        <p>Berlin, Germany</p>
                    </div>
                </div>
            </div>
            <div class="features__cards-card">
                <img src="/assets/laptop.jpeg" alt="">
                <div class="name">
                    <h3>PROJECT NAME</h3>
                    <div class="data">
                        <button>UI/UX</button>
                        <button>eCommerce</button>

                        <p>Berlin, Germany</p>
                    </div>
                </div>
            </div>
            <div class="features__cards-card">
                <img src="/assets/laptop.jpeg" alt="">
                <div class="name">
                    <h3>PROJECT NAME</h3>
                    <div class="data">
                        <button>UI/UX</button>
                        <button>eCommerce</button>
                        <p>Berlin, Germany</p>
                    </div>
                </div>
            </div>
            <div class="features__cards-card">
                <img src="/assets/laptop.jpeg" alt="">
                <div class="name">
                    <h3>PROJECT NAME</h3>
                    <div class="data">
                        <button>UI/UX</button>
                        <button>eCommerce</button>
                        <p>Berlin, Germany</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature__button">
        <div class="circle-button">
          <button class="arrow-button arrow-button--prev" (click)="moveProjects('left')">&#8249;</button>
          <button class="arrow-button arrow-button--next" (click)="moveProjects('right')">&#8250;</button>
        </div>
      </div>
</section>