<section class="features" *ngIf="isLoggedIn">
  <div class="features__contain">
    <div class="features__contain-first">
      <h2>Best Projects for this month</h2>
      <p>Our elite team of design enthusiasts and coding aficionados are dedicated to showcasing exceptional UI projects
        on our platform. Whether you seek a responsive design, a seamless content management system, or an eCommerce
        platform that captivates, we're committed to surpassing your every expectation.</p>
    </div>
    <div class="features__contain-second">
      <button routerLink="/projects">see all projects</button>
    </div>
  </div>

  <div class="features__cards-container" #cardsContainer [@slide]="currentIndex">

    <div class="features__cards">

      <div *ngFor="let project of projects" class="features__cards-card">
        <img src="{{project.mainPhoto}}" alt="">
        <div class="name">
          <h2>{{project.projectName}}</h2>
          <div class="data">
            <button>{{project.deliverables}}</button>
            <button>{{project.industry}}</button>

            <p>{{project._ownerId.username}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="feature__button">
    <div class="circle-button">
      <button class="arrow-button arrow-button--prev" (click)="moveProjects('left')">&#8249;</button>
      <button class="arrow-button arrow-button--next" (click)="moveProjects('right')">&#8250;</button>
    </div>
  </div>
</section>
