.screenshot__image {
    width: 97%;
    height: 800px;
    overflow: hidden;
    border-radius: 32px;
    padding-top: 22px;
    margin: 0 auto;
    z-index: 1;
}

.screenshot__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 32px;
}

@media screen and (max-width:768px) {
    .screenshot__image {
        height: 45%;
    }
}

