<section class="blog">
    <div class="blog__content">
        <div class="blog__contain">
            <div class="blog__contain-first">
                <h2>Blog</h2>
            </div>
            <div class="blog__contain-second">
                <button>see all</button>
            </div>
        </div>

        <div class="blog__new no-border-top">
            <div class="blog__new-img">
                <img src="/assets/new.png" alt="">
            </div>
            <div class="blog__new_content">
                <p>12.09.2023</p>
                <h2>Empowering Student Designers: A Platform for Showcasing UI Projects</h2>
                <button>Category</button>
                <div class="blog__p">
                    <p>Are you a budding UI designer looking for a platform to showcase your creativity? Or perhaps you're a developer in search of fresh design inspiration? Look no further! Our innovative platform bridges the gap between student designers and developers, offering a space where UI projects can shine.</p>
                </div>
            </div>
        </div>
        <div class="blog__new">
            <div class="blog__new-img">
                <img src="/assets/new.png" alt="">
            </div>                <div class="blog__new_content">
                <p>12.09.2023</p>
                <h2>Join Our Community</h2>
                <button>Category</button>
                <div class="blog__p">
                    <p>Whether you're a student designer eager to share your creations or a developer seeking inspiration, our platform welcomes you with open arms. Join our vibrant community today and be a part of the dynamic exchange between designers and developers!</p>
                </div>
            </div>
        </div>
        <div class="blog__contain-second2">
            <button>see all</button>
        </div>
    </div>
</section>