<footer class="footer">
    <div class="left-part">
        <div class="logo-footer">
            <img src="/assets/logo.png" alt="">
        </div>
        <div class="icons">
            <h3>Social</h3>
            <div class="icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer-nav">
        <ul>
            <li>Home</li>
            <li>What We Do</li>
            <li>Our Work</li>
            <li>Clients</li>
            <li>Our Approach</li>
            <li>About Us</li>
            <li>Blog</li>
            <li>Contacts</li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="right-part">
        <h2>OFFICE_WSTUDIO.COM</h2>
        <div class="footer-contacts">
        <div class="call">
            <h2>Call Us</h2>
            <p>(123)456-789</p>
        </div>
        <div class="call">
            <h2>Address</h2>
            <p>Office 2 Mladost 1.bl.156 Sofia 1784</p>
        </div>
    </div>
    </div>
</footer>