<section class="services">
    <div class="services__contain">
        <div class="services__contain-first">
            <h2>Services</h2>
            <p>Our platform allows student designers to showcase their UI projects. Developers can browse through these projects and select the ones they like.</p>
        </div>
        <div class="services__contain-second">
            <button>all services</button>
        </div>
    </div>
    <div class="services__designs">
        <div class="services__design" data-info="UI/UX DESIGN">
            <p>UI/UX DESIGN</p>
            <button class="toggle-button"><span>↓</span></button>
        </div>
        <div class="services__design" data-info="WEB DESIGN">
            <p>WEB DESIGN</p>
            <button class="toggle-button"><span>↓</span></button>
        </div>
        <div class="services__design" data-info="WEBSITE DEVELOPMENT">
            <p>WEBSITE DEVELOPMENT</p>
            <button class="toggle-button"><span>↓</span></button>
        </div>
    </div>
</section>