<section class="values">
    <div class="values__title">
        <h2>Four reasons why you should share your project with us</h2>
    </div>
    <div class="values__content">
        <div class="values__content-content">
            <h2>Visibility and Exposure:</h2>
            <p>By sharing their projects on our platform, designers gain visibility and exposure within a community of developers actively seeking new UI projects. This exposure can lead to potential collaborations, job opportunities, and recognition within the industry.</p>
        </div>
        <div class="values__content-content">
            <h2>Feedback and Improvement</h2>
            <p>Sharing projects allows designers to receive valuable feedback from a diverse audience of developers. Constructive criticism and suggestions for improvement can help designers refine their skills, enhance their projects, and stay updated on current design trends and best practices.</p>
        </div>
        <div class="values__content-content">
            <h2>Networking and Collaboration Opportunities:</h2>
            <p>Our platform serves as a hub for networking and collaboration, connecting designers with like-minded individuals and potential collaborators. By sharing their projects, designers can expand their professional network, forge valuable connections, and explore collaborative opportunities that can lead to exciting projects and career advancement.</p>
    </div>
    <div class="values__content-content">
        <h2>Portfolio Building and Portfolio Diversity:</h2>
        <p>Sharing projects on our platform allows designers to build and diversify their portfolio. By showcasing a variety of projects, designers can demonstrate their versatility, range of skills, and expertise in different design styles and techniques. This diverse portfolio not only attracts potential clients and employers but also increases the designer's credibility and marketability in the industry.</p>
</div>
    </div>
</section>