<section class="values">
    <div class="values__title">
        <h2>Our Core Values</h2>
    </div>
    <div class="values__content">
        <div class="values__content-content">
            <span>&#9733;</span>
            <h2>Details</h2>
            <p>In everything we undertake, our keen attention to detail and precise execution set our work apart, amplifying its influence.</p>
        </div>
        <div class="values__content-content">
            <span>&#9830;</span>
            <h2>Passion</h2>
            <p>For us, passion is paramount. It fuels our agency, driving us to make a meaningful impact every single day.</p>
        </div>
        <div class="values__content-content">
            <span>&#9995;</span>
            <h2>Courage</h2>
            <p>Because remarkable achievements are born from daring endeavors. Our agency specializes in setting you apart from the crowd</p>
    </div>
        <div class="values__content-content">
            <span>&#10084;</span>
            <h2>Care</h2>
            <p>Above all, we truly care: about our clients, about our craft, and about fostering a supportive community within our team.</p>
        </div>
    </div>
</section>