<section class="first__section">
    <div class="first__section-content">
        <h1>Websites so user-friendly, even your dog could use them.</h1>
        <p>Our A-team of web wizards and creative masterminds use top-notch technology to create first-class websites. Whether you need a responsive design, a content management system, or an eCommerce store that sells unicorns, we've got you covered.</p>
    </div>
    <div class="first__section-image">
        <img src="/assets/dog.png" alt="rocks">
    </div>
</section>