<section class="first__section">
    <div class="first__section-content">
        <h1>ABOUT US</h1>
        <p>We're your go-to destination for cutting-edge web design and development. Our expertise will transform your website into a modern marvel, leaving your competitors in awe. If you're seeking a website that's not only functional but also vibrant and distinctive, partner with us to bring your vision to life!</p>
    </div>
    <div class="first__section-image" id="aboutUs">
        <img src="/assets/aboutUs.png" alt="">
    </div>
</section>