<section class="first__section-home">
    <div class="first__section-home-content">
        <h1>WEB DESIGN STUDIO</h1>
        <h3>IUser interfaces so seamless, <br />even your pet could effortlessly explore.</h3>
        <p>We're the ultimate collaboration between design and development wizards. Together, we'll craft a platform that'll make your competitors question their digital presence in today's world.</p>
        <button routerLink="/aboutUs" class="home-button">View More</button>

    </div>
    <div class="length">
        <h5>UI/UX DESIGN &#9733; WEB DESIGN &#9733; WEBSITE DEVELOPMENT</h5>
    </div>
    <div class="first__section-home-image">
        <img src="/assets/dog.png" alt="">
    </div>
</section>

<router-outlet></router-outlet>
