
<section class="work">
    <div class="features__contain">
        <div class="features__contain-first">
            <h2>Our social links</h2>
            <p>You can follow us on our social links</p>
        </div>
    </div>
    <div class="features__logos">
        <img src="/assets/facebook.png" alt="">
        <img src="/assets/instagram.png" alt="">
        <img src="/assets/twitter.png" alt="">
        <img src="/assets/linkedin.png" alt="">
        <img src="/assets/tiktok.png" alt="">

    </div>
</section>
