.our_work {
    padding: 35px 0px 0px 30px;
    height: auto;
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buttons {
    display: flex;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.right-end {
    margin-left: auto; 
    align-self: flex-end; 
}

.our_work h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 88px;
    color: #FFFF;
}

.our_work__btn {
    width: 145px;
    height: 32px;
    border-radius: 6px;
    padding: 9px 12px 9px 12px;
    background-color: #FFCE34;
    border: none;
    font-size: 12px;
    margin-right: 5px;
}

.our_work__btn:hover,
.our_work__btn-right:hover {
    cursor: pointer;
    background-color: #deac09;
    transition: 0.3s ease-in-out;
}

.our_work__btn-right {
    width: 200px;
    height: 42px;
    border-radius: 6px;
    padding: 9px 12px 9px 12px;
    background-color: #FFCE34;
    border: none;
    font-size: 14px;
    margin-right: 5px;
    margin-right: 2rem;
}

.project-modal-open .modal {
    display: flex;
}

.project-modal-open .modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
}

.modal-content {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    border: 1px solid #888;
    color: white; 
    position: relative; 
    max-height: 80%; 
    overflow-y: auto;
    padding: 30px;
}


.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  button[type="submit"] {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  button[class="submit"] {
    background-color: #4caf50;
  }

  button[class="cancel"] {
    background-color: red;
  }
  
  button[class="submit"]:hover {
    background-color: #2d6830;
    transition: 0.3s ease-in-out;
  }

  button[class="cancel"]:hover {
    background-color: rgb(151, 61, 61);
    transition: 0.3s ease-in-out;
  }

  .add-button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease; 
    margin-top: 5px;
  }
  
  .add-button:hover {
    background-color: #0056b3; 
  }

  .main-photo-preview img {
    max-width: 200px;
    max-height: 200px;
  }

  .image-preview img {
    max-width: 100px; 
    max-height: 100px;
    margin-top: 10px;
  }

  .search-container .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-left: 20px;
  }
  
  .search-container .search-input:focus {
    border-color: #FFCE34;
  }
  
  .search-container .search-button {
    background-color: #FFCE34;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-container .search-button:hover {
    background-color: #c6a539;
  }

  .image-upload input[type="file"] {
    display: none;
  }
  
  .image-upload label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px;
    background-color: #0DB14B;
    color: #ffffff;
    border-radius: 5px;
    border: none;
  }
  
  .clear-image {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #FF4F4F;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
  }
  
  .clear-image:hover {
    background-color: #FF7F7F;
  }
  
  .image-input-container {
    margin-bottom: 10px;
  }

  .input-container {
    margin-bottom: 10px;
  }
  
@media screen and (max-width:768px) {
    .our_work h2 {
        font-size: 50px;
    }
    .our_work__btn {
        margin-top: 20px;
    }

    .our_work__btn-right{
        width: 100%;
        font-size: 12px;
    }
}
