<section class="features__cards">
    <div class="features__cards-card ">
        <img src="/assets/laptop.jpeg" alt="Customer Image">
        <div class="name">
            <h2>PROJECT NAME</h2>
            <div class="data">
                <button>UI/UX</button>
                <button>eCommerce</button>
                <a routerLink="/projects/details"><button>Show Details</button></a>

                <p>Berlin, Germany</p>
            </div>
        </div>
    </div>
    <div class="features__cards-card">
        <img src="/assets/laptop.jpeg" alt="Customer Image">
        <div class="name">
            <h2>PROJECT NAME</h2>
            <div class="data">
                <button>UI/UX</button>
                <button>eCommerce</button>
                <a href="details.html"><button>Show Details</button></a>

                <p>Berlin, Germany</p>
            </div>
        </div>
    </div>
    <div class="features__cards-card">
        <img src="/assets/laptop.jpeg" alt="Customer Image">
        <div class="name">
            <h2>PROJECT NAME</h2>
            <div class="data">
                <button>UI/UX</button>
                <button>eCommerce</button>
                <a href="details.html"><button>Show Details</button></a>

                <p>Berlin, Germany</p>
            </div>
        </div>
    </div>
    <div class="features__cards-card">
        <img src="/assets/laptop.jpeg" alt="Customer Image">
        <div class="name">
            <h2>PROJECT NAME</h2>
            <div class="data">
                <button>UI/UX</button>
                <button>eCommerce</button>
                <a href="details.html"><button>Show Details</button></a>

                <p>Berlin, Germany</p>
            </div>
        </div>
    </div>
    <div class="features__cards-card">
        <img src="/assets/laptop.jpeg" alt="Customer Image">
        <div class="name">
            <h2>PROJECT NAME</h2>
            <div class="data">
                <button>UI/UX</button>
                <button>eCommerce</button>
                <a href="details.html"><button>Show Details</button></a>

                <p>Berlin, Germany</p>
            </div>
        </div>
    </div>
    <div class="features__cards-card">
        <img src="/assets/laptop.jpeg" alt="Customer Image">
        <div class="name">
            <h2>PROJECT NAME</h2>
            <div class="data">
                <button>UI/UX</button>
                <button>eCommerce</button>
                <a href="details.html"><button>Show Details</button></a>

                <p>Berlin, Germany</p>
            </div>
        </div>
    </div>

</section>