.details__name{
    text-align: center;
}

.details__name h2{
    font-size: 70px;
    color: #FFFFFF;    
}

.details__name p{
    font-size: 16px;
    color: #FFFFFF; 
    width: 70%;      
    margin: 0 auto;
}

.details__name img{
    width: 95%;
    margin-top: 5rem;
    height: 790px;
    object-fit: cover;
    border-radius: 24px;
}

.details__project-info {
    width: 90%;
    background-color: #252525;
    border-radius: 24px;
    height: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
}

.details__project-info_left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 57%;
    justify-content: space-between;
}

.details__project-info_left h2{
    font-size: 20px;
    color: #ffff;
    text-transform: uppercase;
}

.details__project-info_left span{
    font-size: 22px;
    color: #ffff;
}

.details__project-info_left h3{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 5px;
}
.details__project-info_left p{
    font-size: 64px;
    line-height: 70.4px;
    font-weight: 700;
    color: #0DB14B;
    margin: 5px;
}

.details__project-info_left-line {
    border: 1px solid #444444;
    width: 100%;
}

.details__project-info_left-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%; 
}

.details__project-info_left-info:last-child {
    justify-content: flex-end; 
}

.details__project-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.details__project-info-right_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details__project-info-right-info p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}   

.details__project-info-right-info h2{
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.details__project-info-right-info_button {
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #FFCE34;
    padding: 14px 16px 14px 24px;
    border-radius: 24px; 
    align-items: center;
    transition: background-color 0.3s ease-in-out; 
    cursor: pointer; 

    h2 {
        font-size: 14px;
        line-height: 20.3px;
        color: #000000;
        transition: color 0.3s ease-in-out; 
    }

    .toggle-button {
        background-color: transparent;
        border: none;
        transition: transform 0.3s ease-in-out; 
    }

    .toggle-button span {
        font-size: 30px;
        padding-right: 1rem;
    }

    /* Hover effect */
    &:hover {
        background-color: #deac09; 
    }

    &:hover h2 {
        color: #FFFFFF; 
    }

    &:hover .toggle-button {
        transform: translateY(-3px); 
    }
}

button[type="submit"] {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
  }

  button[class="submit"] {
    background-color: #4caf50;
  }

  button[class="cancel"] {
    background-color: red;
  }

  button[class="submit"]:hover {
    background-color: #2d6830;
    transition: 0.3s ease-in-out;
  }

  button[class="cancel"]:hover {
    background-color: rgb(151, 61, 61);
    transition: 0.3s ease-in-out;
  }

  .project-modal-open .modal {
    display: flex;
}

.project-modal-open .modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    transition: opacity 0.3s ease-in-out; 
}

.modal-content {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    border: 1px solid #888;
    color: white; 
    position: relative; 
    max-height: 80%; 
    overflow-y: auto;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation-name: modalFadeIn; 
    animation-duration: 0.3s; 
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }

  .add-button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease; 
    margin-top: 5px;
  }
  
  .add-button:hover {
    background-color: #0056b3; 
  }

  .main-photo-preview img {
    max-width: 200px;
    max-height: 200px;
  }

  .image-preview img {
    max-width: 100px; 
    max-height: 100px;
    margin-top: 10px;
  }

  .search-container .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-left: 20px;
  }
  
  .search-container .search-input:focus {
    border-color: #FFCE34;
  }
  
  .search-container .search-button {
    background-color: #FFCE34;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-container .search-button:hover {
    background-color: #c6a539;
  }

  .image-upload input[type="file"] {
    display: none;
  }
  
  .image-upload label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 5px;
    background-color: #0DB14B;
    color: #ffffff;
    border-radius: 5px;
    border: none;
  }
  
  .clear-image {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #FF4F4F;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
  }
  
  .clear-image:hover {
    background-color: #FF7F7F;
  }
  
  .image-input-container {
    margin-bottom: 10px;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .thumb-icon {
    font-size: 60px;
    color: #555;
    transition: transform 0.4s ease, color 0.4s ease;
  }
  
  .thumb-icon.clicked {
    color: #4CAF50;
    animation: moveThumb 0.5s ease, pulse 1s infinite;
  }
  
  .thumb-icon:hover {
    cursor: pointer;
  }
  
  .animate {
    animation: moveThumb 0.5s ease;
  }
  
  @keyframes moveThumb {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  