<section class="details">
    <div class="details__name">
        <h2>Project Name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <img src="/assets/laptop.jpeg" alt="Customer Image">

    </div>
    <div class="details__project-info">
        <div class="details__project-info_left">
            <div class="details__project-info_left-info">
            <h3>Some key Numbers</h3>
            <p>+1000</p>
        </div>
            <div class="details__project-info_left-line"></div>
            <div class="details__project-info_left-info">
                <h3>Some key Numbers</h3>
                <p>+1000</p>
            </div>
        </div>
        <div class="details__project-info-right">
            <div class="details__project-info-right_text">
            <div class="details__project-info-right-info">
                <p>Industry</p>
                <h2>E-commerce</h2>
            </div>
            <div class="details__project-info-right-info">
                <p>Deliverables</p>
                <h2>UI/UX Design</h2>
            </div>
            <div class="details__project-info-right-info">
                <p>Systems</p>
                <h2>Figma</h2>
                <h2>Ilustator</h2>
            </div>
        </div>
           <div class="details__project-info-right-info_button">
            <h2>Explore Project</h2>
            <button class="toggle-button"><span>↓</span></button>
           </div>
        </div>
    </div>
</section>