<section class="details">
    <div class="details__name">
        <h2>{{ project.projectName}}</h2>
        <p>{{ project.smallDesc }}</p>
        <img [src]="project.mainPhoto" alt="Project Image">
    </div>
    <div class="details__project-info">
        <div class="details__project-info_left">
            <div class="details__project-info_left-info">
                <h3>Some key Numbers</h3>
                <p>+1000</p>
            </div>
            <div class="details__project-info_left-line"></div>
            <div class="details__project-info_left-info">
                <h3>Some key Numbers</h3>
                <p>+1000</p>
            </div>
        </div>
        <div class="details__project-info-right">
            <div class="details__project-info-right_text">
                <div class="details__project-info-right-info">
                    <p>Industry</p>
                    <h2>{{ project.industry }}</h2>
                </div>
                <div class="details__project-info-right-info">
                    <p>Deliverables</p>
                    <h2>{{ project.deliverables }}</h2>
                </div>
                <div class="details__project-info-right-info">
                    <p>Systems</p>
                    <h2>{{ project.systems }}</h2>
                </div>
            </div>
            <div class="details__project-info-right-info_button">
                <h2>Explore Project</h2>
                <button class="toggle-button"><span>↓</span></button>
            </div>
        </div>
    </div>
</section>
