.customers {
    width: 95%;
    margin: 0 auto;
}

.customers__title h2 {
    font-size: 60px;
    line-height: 88px;
    color: #FFFF;
}

.customers__card {
    display: inline-block;
    width: calc(32% - 30px);
    margin: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.customer__card-container {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.customer__card-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.customer__card-name h2 {
    margin-bottom: 30px;
    color: #FFF;
}

.customer__card-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    font-size: 24px;
    color: #FFF;
}

@media screen and (max-width:768px) {
    .customers__title h2 {
        font-size: 40px;
        text-align: center;
    }

    .customers__card {
        width: 40%;
        margin: 4%;
    }

    .customers__card-container {
        width: 100%;
    }

    .customer__card-container img {
        width: 100%;
    }

    .customer__card-name h2 {
        font-size: 20px;
    }
}