<section class="features__cards">
    <div *ngFor="let project of projects">
        <div *ngIf="isCurrentUserOwner(project)" class="features__cards-card">
            <img src="{{project.mainPhoto}}" alt="Customer Image">
            <div class="name">
                <h2>{{project.projectName}}</h2>
                <div class="data">
                    <p>{{project.createdAt | dateFormat}}</p>
                    <p>{{project.industry}}</p>
                    <a [routerLink]="project._id"><button>Show Details</button></a>
                    <p>{{ project._ownerId.username }}</p>
                </div>
            </div>
        </div>
    </div>

</section>
