<section class="some">
    <div class="some__work-left">
        <div>
            <h3>SOME OF <br/> OUR CUSTOMERS WORK</h3>
            <div class="buttons">
                <button><span>←</span></button>
                <button><span>→</span></button>
            </div>
        </div>
       
        <button>SEE ALL PROJECTS</button>
    </div>
    <div class="some__work-right">
        <div class="some__work-right-div">
            <img src="/assets/laptop2.jpeg" alt="">
            <div class="name">
                <h2>PROJECT NAME</h2>
                <div class="data">
                    <button>UI/UX</button>
                    <button>eCommerce</button>
                    <p>Berlin, Germany</p>
                </div>
            </div>
        </div>
        <div class="some__work-right-div">
            <img src="/assets/laptop2.jpeg" alt="">
            <div class="name">
                <h2>PROJECT NAME</h2>
                <div class="data">
                    <button>UI/UX</button>
                    <button>eCommerce</button>

                    <p>Berlin, Germany</p>
                </div>
            </div>
        </div>
        <div class="some__work-right-div">
            <img src="/assets/laptop2.jpeg" alt="">
            <div class="name">
                <h2>PROJECT NAME</h2>
                <div class="data">
                    <button>UI/UX</button>
                    <button>eCommerce</button>

                    <p>Berlin, Germany</p>
                </div>
            </div>
        </div>
</div>
<button id="some__btn">see all</button>
</section>